* {
    background-color: black;
    margin: 0;
    box-sizing: border-box;
}

.led-sticks {
    display: flex; 
    gap: 15vw;
    justify-content: center;;
    margin-top: 48dvh
}

.sticks {
    width: 2vw;
    height: 20vw; 
    background: rgb(248, 14, 236);
    border-radius: 50px;
    border-radius: 50px;
    box-shadow: 0 0 80px blueviolet;
    animation: ledEffect 4s infinite
}

@keyframes ledEffect {
    0%   { opacity: 0.0; box-shadow: 0 3 20px blue; }
    50%  { opacity: 1;   box-shadow: 0 2 80px rgb(218, 7, 218); }
    100% { opacity: 0.0; box-shadow: 0 0 20px violet; }
}

@media (orientation: landscape) {
    .sticks {
    margin-top: -19vh;
    }
}

@media (orientation: portrait) {
    .led-sticks {
        margin-top: 43dvh
    }
}
